.venv

generations

.DS_Store

build/
icassp23/.ipynb_checkpoints/
sandbox/

icassp23/sbatch/01_generate_audio/
icassp23/sbatch/02_compute_pnp_jacobian/

*.egg-info
*.pyc

uv.lock
.vscode/

exp_embeddings_linearity/generated
exp_invalidate_metrics_example_1/generated