.venv

generations

.DS_Store

build/
icassp23/.ipynb_checkpoints/
sandbox/

icassp23/sbatch/01_generate_audio/
icassp23/sbatch/02_compute_pnp_jacobian/

*.egg-info
*.pyc

uv.lock
.vscode/

exp_embeddings_linearity/generated
exp_embeddings_linearity/archive_generated
exp_embeddings_linearity/archive_10_generated
exp_audio_fpc/audio_test
exp_audio_fpc/test.py
exp_invalidate_metrics_fpc/generated
exp_audio_fpc/generated